# ========================
# Python
# ========================
__pycache__/
*.pyc
*.pyo
*.pyd
*.so

# ========================
# Virtual Environment
# ========================
venv*/
.env/
env/
.venv/

# ========================
# IDE
# ========================
.vscode/
.idea/

# ========================
# logs
# ========================
*.log

# ========================
# OS
# ========================
.DS_Store
Thumbs.db

# ========================
# data（可选）
# ========================
data/
*.csv
*.xlsx

# ========================
# build
# ========================
build/
dist/
*.egg-info/
